@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color: #2c2f33">
    <div class="top-row px-4">
        <p>User: </p>
    </div>

    <div class="content px-4" >
        @Body
    </div>
</div>
